<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Bowl LVI Prop Bets</title>
    <link rel="icon" type="image/x-icon" href="/static/images/Super_Bowl_LVI_logo.png">
</head>
<header>
    <h1 style="text-align:center">Super Bowl Prop Bet Tracker 2022</h1>
</header>
<body>
    <h1>Update Bets</h1>
   <h1>{{value}}</h1>
   <form class = "ey" method="POST" action="{{url_for('main')}}">
       <select name= bets method="POST" action="/">
           {% for user in users %}
           <option value= "{{user}}" SELECTED>{{user}}</option>"
           {% endfor %}
       </select>
       <input name="result" placeholder="Enter Result">
       <input type="submit" value="Submit" placeholder="Select Bet">
   </form>

    <h1>Standings</h1>
    <title>{% block title %}{% endblock %}</title>
    <table style = " border: 1px solid black; border-collapse: collapse;">
        {% for leader in leaders %}
        <tr>
            <th style=" border: 1px solid black; border-collapse: collapse;">{{leader[0]}}</th>
            <td style = " border: 1px solid black; border-collapse: collapse;"><text style = "padding-right: 20px; padding-left: 20px;">{{leader[1]}}</text></td> 
        </tr>
        {% endfor %}
    </table>

   <h1>Bets</h1>
   <table style = " border: 1px solid black; border-collapse: collapse;">
    {% for result in results %}
        <tr>
            <th style=" border: 1px solid black; border-collapse: collapse;">{{result[0]}}</th>
            <td style = " border: 1px solid black; border-collapse: collapse;"><text style = "padding-right: 20px; padding-left: 20px;">{{result[1]}}</text></td> 

        </tr>
        {% endfor %}
   </table>

</body>
</html>